html,body {
  margin: 0;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  min-height: 100%;
}

/*nasze klasy pomocnicze oraz ogÃƒÂ³lne style dla tagÃƒÂ³w*/

img { max-width: 100% }

#nasze-menu {
  position: absolute;
  width: 120px;
  height: 60px;
  left: -120px;
  top: 40px;
  background: #ddd;
  z-index: 999
}

h1, h2, h3 {
  font-weight: 300;
  margin: 0px;
  text-align: center;
  padding: 0px;
  color: #fff
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px
}

h2 {
  font-size: 1.4rem
}

.page-width {
  width: 1080px;
  margin: auto auto
  
}

.page-width h1 {
  margin-bottom: 40px
}

.page {
  min-height: 100vh;
  box-sizing: border-box;
  padding: 120px 0px;
  posiiton: relative
}

.center-container {
  display: table;
  width: 100%;
  height: 50vh;
}

.centered-content {
  display: table-cell;
  vertical-align: middle
}

p {
  color: #ffffff;
  margin-bottom: 20px
}

p img {
  vertical-align: middle;
  float: right
}

a {
  text-decoration: none;
  color: #3ab0a4
}

a:hover, a:active, nav > ul li.active > a {
  color: #ffd419
}

/* rozwijane menu */

nav > ul > li {
  position: relative; 
  display:inline-block;
  padding: 10px 0px
}

nav > ul ul {
  display: none;
  position: absolute;
  top: 39px;
  left: 0px;
  background: #ffffff;
  padding: 10px 30px;
  width: 120px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
}


nav > ul ul li {
  margin: 0px;
  margin-bottom: 10px
}





/*stylowanie nagÃ…â€šÃƒÂ³wka*/

header {
  position: fixed;
  width: 100%;
  background: #ffffff;
  padding: 10px 0px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
}

a.logo {
  display: inline-block;
  vertical-align: middle;
  width: 100px
}



header nav {
  float: right;
  display: block;
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding: 20px 0px
}

header ul {
  list-style: none;
  padding: 0px;
  margin: 0px
}

header nav li {
  float: left;
  margin-left: 20px
}

nav a {
  font-weight: 300
}

/* stylowanie strony glownej */

.main-page {
  background: url(../img/mainpage.png) no-repeat center center;
  background-size: cover

}


/* stylowanie strony about */

.about-page {
  background: #181f27
}

.about-page article {
  width: 50%;
  display:inline-block;
}

.about-page img {
  width: 40%;
  display: inline-block;
  float: right
  
}

